.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  font-size: 14px;
}
.md-typeset .admonition.success,
.md-typeset details.success {
  font-size: 14px;
}
.md-typeset .admonition.warning,
.md-typeset details.warning {
  font-size: 14px;
}
.md-typeset .admonition.info,
.md-typeset details.info {
  font-size: 14px;
}